
<h1>Airplanes</h1>
<div class='airplane'>
  <% @airplanes.each do |airplane| %>
  <span>
    <%= link_to airplane.name, airplane_path(airplane.id) %>
  </span>
  <% end %>
  <div>
    <%= link_to "Add a Plane ", new_airplane_path, class:"button"  %>
  </div>
</div>
