<h1>Welcome <%= @current_user.name%></h1>
<div class="top-links">
  <% if @current_user.admin == true%>
   | <%= link_to "Airplanes", airplanes_path  %>
   | <%= link_to "Flights", flights_path  %>
   |
  <%end %>
</div>
