<h1> home page</h1>

<div>
  <%= link_to "Airplanes", airplanes_path  %>
</div>
<div>
  <%= link_to "Flights", flights_path  %>
</div>
<div>
  <%= link_to "Reservations", reservations_path  %>
</div>
<div>
  <%= link_to "Users", users_path  %>
</div>
