<h1>Reservations</h1>

<ul class='reservations'>
  <% @reservations.each do |r| %>
  <li>
    <%= link_to r.id, reservation_path(f.id)%>
  </li>
  <% end %>

</ul>

<% if @current_user.present? %>
<% end >
<%= link_to "Add a Reservation ", new_reservation_path %>
