body{
  color:black;
  font-size: 16pt;
  font-family: Lucidatypewriter, monospace;
  margin:  auto;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(187, 120, 58, 0.8);
}

div{
  /* background-color: rgba(255, 0, 0, 0.6) ; */
  border-radius: 10px;
  text-decoration: none;
  width: 60vw;
  margin: auto;
  padding: 10px;
}

a{
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  margin-top: 5px;
}

a:hover{
  font-weight: bolder;
}
ul{
  font-size: 18px;
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 10px;
  width: 62vw;
  margin: 5px auto;
  padding: 0;
}
li{
  list-style: none;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 0;
}

.rows{
  /* background-color: blue; */
  text-align: left;
  width: 1005;

}

.cols{
  width: 80px;
  display: inline;
  background-color: purple;
  position: relative;
  top: -31px;
  left: 20px;
}

input, select {
   padding: 10px 15px;
   margin: 10px 0;
   border-radius: 5px;
   border: none;
   font-size: 16px;
 }

input:focus, button:focus, select:focus {
  outline: none;
}

#login_button:hover, #submit_button {
  background-color: maroon;
  color: white;
  cursor: pointer;
}

.airplane span {
  background-color: rgba(255, 0, 0, 0.6);
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
}

.button {
  display: inline-block;
  margin-top: 30px;
  background-color: maroon;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}

.flight-wrapper {
  margin-top: 40px;
}

.top-links {
  background-color: rgba(255, 0, 0, 0.6);
}

.top-links.login {
  border-radius: 5px;
  padding: 10px;
}
